/* No blog, essa estilização é de todos os parágrafos */
p {
    background-color: yellow;
    /* background-color: rgb(255, 255, 0); */
    color: black;
   /* height: 200px;
    width: 200px;*/
}
logo {
    width: 300px;
    height: 300px;
}

h1 {
    color: rgb(38, 0, 255);
}



/* Veja isso depois */
img {
    width: 30px;
    height: 30px;
}

